.block-what-we-do {
  @include section-wrap(100%);
  // margin: 0 3%;
  &__head-wrap,
  .head-wrap {
    @include flex(row, nowrap, space-between, center);
    width: 100%;
    padding: 120px 0 88px;

    &__desc,
    .desc {
      width: 70%;
      &__head {
        @include font(12px, 700, 14px, $text-subscribe-btn, left);
        text-transform: uppercase;
      }
      &__text {
        @include font(20px, 700, 24px, $text-main, left);
      }
    }
    &__accent-btn {
      @include button(29px, 29px, $bg-green);
    }
  }
  &__content-wrap,
  .content-wrap {
    @include flex(row, nowrap, space-between, center);
    width: 100%;
    margin-bottom: 120px;

    &__article-wrap,
    .article-wrap {
      @include flex(column, wrap, space-between, flex-start);
      position: relative;
      padding: 166px 24px 24px 24px;
      border: $border-light;
      border-radius: 8px;
      max-width: 232px;

      &__bg-image-1 {
        @include bg-img-special(
          "../img/w-w-d_image1_@1x.png",
          280px,
          168px,
          -190px,
          22px
        );
        position: absolute;
      }
      &__bg-image-2 {
        @include bg-img-special(
          "../img/w-w-d_image2_@1x.png",
          280px,
          168px,
          -190px,
          22px
        );
        position: absolute;
      }
      &__bg-image-3 {
        @include bg-img-special(
          "../img/w-w-d_image3_@1x.png",
          280px,
          168px,
          -190px,
          22px
        );
        position: absolute;
      }
      &__head {
        @include font(18px, 700, 22px, $text-main, left);
        height: 44px;
      }
      &__desc {
        @include font(16px, 400, 22px, $text-main, left);
        padding-top: 8px;
        padding-bottom: 16px;
      }

      &__accent-btn {
        @include button(20px, 20px, $bg-green);
        align-self: center;
      }
    }
  }
  .accent-btn:hover {
    @include button-hover-active($btn-hover);
  }
  .accent-btn:active {
    @include button-hover-active($btn-active);
    transform: scale(0.8);
  }
}

// Tablet: max 1440px
@media only screen and (max-width: $table-big-width) {
  .block-what-we-do {
    @include section-wrap(100%);

    &__head-wrap,
    .head-wrap {
      @include flex(row, nowrap, space-between, center);
      width: 100%;
      padding: 120px 0 88px 0;

      &__desc,
      .desc {
        width: 70%;
        &__head {
          @include font(12px, 700, 14px, $text-subscribe-btn, left);
          text-transform: uppercase;
        }
        &__text {
          @include font(20px, 700, 24px, $text-main, left);
        }
      }
      &__accent-btn {
        @include button(29px, 29px, $bg-green);
      }
    }
    &__content-wrap,
    .content-wrap {
      @include flex(row, nowrap, space-between, center);
      width: 100%;
      margin-bottom: 120px;

      &__article-wrap,
      .article-wrap {
        @include flex(column, wrap, space-between, flex-start);
        position: relative;
        padding: 166px 24px 24px 24px;
        border: $border-light;
        border-radius: 8px;
        max-width: 220px;

        &__bg-image-1,
        &__bg-image-2,
        &__bg-image-3 {
          width: 222px;
          height: 126px;
          margin-top: -190px;
          background-position: center;
          background-size: contain;
        }
        &__head {
          @include font(18px, 700, 22px, $text-main, left);
          height: 44px;
        }
        &__desc {
          @include font(16px, 400, 22px, $text-main, left);
          padding-top: 8px;
          padding-bottom: 16px;
        }

        &__accent-btn {
          @include button(20px, 20px, $bg-green);
          align-self: center;
        }
      }
    }
    .accent-btn:hover {
      @include button-hover-active($btn-hover);
    }
    .accent-btn:active {
      @include button-hover-active($btn-active);
      transform: scale(0.8);
    }
  }
}

// Tablet: max 1024px
@media only screen and (max-width: $table-width) {
  .block-what-we-do {
    @include section-wrap(100%);

    &__head-wrap,
    .head-wrap {
      @include flex(row, nowrap, space-between, center);
      width: 100%;
      padding: 120px 0 88px;

      &__desc,
      .desc {
        width: 70%;
        &__head {
          @include font(12px, 700, 14px, $text-subscribe-btn, left);
          text-transform: uppercase;
        }
        &__text {
          @include font(20px, 700, 24px, $text-main, left);
        }
      }
      &__accent-btn {
        @include button(29px, 29px, $bg-green);
      }
    }
    &__content-wrap,
    .content-wrap {
      @include flex(row, nowrap, space-between, center);
      width: 100%;
      margin-bottom: 120px;

      &__article-wrap,
      .article-wrap {
        @include flex(column, wrap, space-between, flex-start);
        position: relative;
        padding: 166px 24px 24px;
        border: $border-light;
        border-radius: 8px;
        max-width: 185px;

        &__bg-image-1,
        &__bg-image-2,
        &__bg-image-3 {
          width: 185px;
          height: 118px;
          margin-top: -165px;
          background-position: center;
          background-size: contain;
        }
        &__head {
          @include font(18px, 700, 22px, $text-main, left);
          height: 44px;
        }
        &__desc {
          @include font(16px, 400, 22px, $text-main, left);
          padding-top: 8px;
          padding-bottom: 16px;
        }

        &__accent-btn {
          @include button(20px, 20px, $bg-green);
          align-self: center;
        }
      }
    }
    .accent-btn:hover {
      @include button-hover-active($btn-hover);
    }
    .accent-btn:active {
      @include button-hover-active($btn-active);
      transform: scale(0.8);
    }
  }
}

// Mobile: max 768px
@media only screen and (max-width: $mobile-width) {
  .block-what-we-do {
    @include section-wrap(768px);
    // padding: 0 3%;
    // margin: 0 auto;
    &__head-wrap,
    .head-wrap {
      @include flex(column, nowrap, space-between, center);

      width: 100%;
      padding: 50px 0 50px 0;
      margin: 0 15px;
      &__desc,
      .desc {
        width: 100%;
      }
      &__accent-btn {
        margin-top: 25px;
        @include button(29px, 29px, $bg-green);
        width: 90%;
      }
    }
    &__content-wrap,
    .content-wrap {
      @include flex(column, nowrap, space-between, center);
      width: 100%;
      margin-bottom: 50px;
      justify-content: space-around;

      &__article-wrap,
      .article-wrap {
        max-width: 400px;
        width: 100%;
        position: relative;
        padding: 126px 15px 15px 15px;
        margin: 80px 0 30px 0;

        &__bg-image-1,
        &__bg-image-2,
        &__bg-image-3 {
          width: 400px;
          height: 182px;
          margin-top: -214px;
          background-position: center;
          background-size: contain;
        }

        &__desc {
          padding-top: 0;
          padding-bottom: 30px;
        }
        &__head {
          margin-top: 15px;
          margin-left: 30px;
        }

        &__accent-btn {
          @include button(20px, 20px, $bg-green);
          align-self: center;
          width: 90%;
        }
      }
    }
  }
}

// Mobile: max 500px
@media only screen and (max-width: $mobile-middle-width) {
  .block-what-we-do {
    @include section-wrap(100%);
    &__head-wrap,
    .head-wrap {
      @include flex(column, wrap, center, center);
      width: auto;
      padding: 50px 0 30px 0;
      margin: 0 15px;
      &__desc,
      .desc {
        width: 100%;

        &__head {
          @include font(12px, 700, 14px, $text-subscribe-btn, center);
          text-transform: uppercase;
        }
        &__text {
          @include font(20px, 700, 24px, $text-main, center);
        }
        margin-bottom: 20px;
      }
    }
    &__accent-btn {
      // @include button(29px, 29px, $bg-green);
      width: 90%;
    }

    &__content-wrap,
    .content-wrap {
      width: 100%;
      @include flex(row, wrap, space-between, center);

      margin-bottom: 50px;
      justify-content: space-around;

      &__article-wrap,
      .article-wrap {
        width: auto;
        position: relative;
        padding: 126px 15px 15px 15px;
        margin: 40px 0 30px 0;

        &__bg-image-1,
        &__bg-image-2,
        &__bg-image-3 {
          width: 290px;
          height: 118px;
          margin-top: -155px;
          background-position: center;
          background-size: contain;
        }
        &__head {
          text-align: center;
        }
        &__desc {
          padding-top: 20px;
          padding-bottom: 30px;
        }
      }
    }
  }
}
