.block-quick-info {
  @include section-wrap(100%);
  background-color: $bg-stats;

  @include font(18px, 400, 22px, $text-main, center);
  padding: 38px 0;
}

// Mobile: 500px-767px
@media (min-width: $mobile-middle-width) and (max-width: $mobile-width) {
  .block-quick-info {
    @include section-wrap(100%);
    padding: 38px 0;
    // max-width: 310px;
    width: 100%;
    // margin: 15px;
  }
}
// Mobile: 320px-500px
@media (min-width: $mobile-min-width) and(max-width: $mobile-middle-width) {
}
