.block-gallery {
  // @include section-wrap(100%);

  @include bg-img("../img/gallery@1x.jpg");
  background-size: cover;
  height: 400px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/gallery@2x.png");
    background-size: cover;
    height: 390px;
  }
  margin-top: 70px;
}
// Big-desktop from 1500px
@media (min-width: 1500px) {
  .block-gallery {
    background-size: cover;
    height: 520px;
  }
}

// Tablet: 1024px-1440px
@media (min-width: $table-width) and (max-width: $table-big-width) {
  .block-gallery {
    // @include section-wrap(100%);
    @media (min-resolution: $retina-dppx) {
      background-size: cover;
      height: 300px;
    }
    margin-top: 70px;
  }
}
// Tablet: 768px-1023px
@media (max-width: $table-min-width) {
  .block-gallery {
    // @include section-wrap(100%);
    @media (min-resolution: $retina-dppx) {
      background-size: cover;
      height: 300px;
    }
    margin-top: 70px;
  }
}
