.block-gallery {
  // @include section-wrap(100%);
  width: 100%;
  @include bg-img("../img/gallery@1x.jpg");
  background-position: center center;
  background-size: contain;
  min-height: 600px;
  // background-attachment: fixed;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/gallery@2x.png");
    background-position: center center;
    background-size: contain;
    min-height: 600px;
    // background-attachment: fixed;
  }
  margin-top: 70px;
}

// Big-desktop from 1500px
// @media (max-width: 1500px) {
//   .block-gallery {
//     @include bg-img("../img/gallery@1x.jpg");
//     background-size: cover;
//     height: 520px;

//     .block-gallery {
//       background-size: cover;
//       height: 520px;
//     }
//   }
// }

// Tablet: max 1440px
@media only screen and (max-width: $table-big-width) {
  .block-gallery {
    // @include bg-img("../img/gallery@1x.jpg");
    min-height: 400px;
    // @include section-wrap(100%);
    @media (min-resolution: $retina-dppx) {
      min-height: 400px;
    }
    // margin-top: 70px;
  }
}

// Tablet: max 1024px
@media only screen and (max-width: $table-width) {
  .block-gallery {
    // @include bg-img("../img/gallery@1x.jpg");
    min-height: 300px;

    @media (min-resolution: $retina-dppx) {
      min-height: 300px;
    }
    // margin-top: 70px;
  }
}

// Mobile: max 768px
@media only screen and (max-width: $mobile-width) {
  .block-gallery {
    background-size: cover;

    // @include bg-img("../img/gallery@1x.jpg");
    min-height: 300px;
    @media (min-resolution: $retina-dppx) {
      background-size: cover;
      min-height: 300px;
    }
    margin-top: 50px;
  }
}

// Mobile: max 500px
@media only screen and (max-width: $mobile-middle-width) {
  .block-gallery {
    // @include bg-img("../img/gallery@1x.jpg");
    min-height: 200px;
    @media (min-resolution: $retina-dppx) {
      min-height: 200px;
    }
    // margin-top: 10px;
  }
}
