.block-resorces {
  @include section-wrap (1440px);
  
  &__head-wrap,
  .head-wrap {
    @include flex (row, nowrap, space-between, center);
    width: 100%;
    padding: 120px 0 88px 0;

    &__desc,
    .desc {
      
      &__head {
        @include font (12px, 700, 14px, $text-subscribe-btn, left);
        text-transform: uppercase;
      }
      &__text {
        @include font (20px, 700, 24px, $text-main, left);
      }
    }
    &__accent-btn {
      @include button (29px, 29px, $bg-green);
    }
  }
  &__content-wrap,
  .content-wrap {
    @include flex (row, nowrap, space-between, center);
    width: 100%;
    margin-bottom: 120px;

    &__article-wrap,
    .article-wrap {
      @include flex (column, wrap, space-between, flex-start);
      // position: relative;
      padding-top: 26px;
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 24px;
      border: $border-light;
      border-radius: 8px;
      max-width: 232px;

      &__head {
        @include font (18px, 700, 22px, $text-main, left);
      }
      &__desc {
        @include font (16px, 400, 22px, $text-main, left);
        padding-top: 8px;
        padding-bottom: 16px;
      }

      &__accent-btn {
        @include button (20px, 20px, $bg-green);
        align-self: center;
      }
    }
  }
  .accent-btn:hover {
    @include button-hover-active ($btn-hover);
  }
  .accent-btn:active {
    @include button-hover-active ($btn-active);
    transform: scale(0.8);
  }
}