.block-what-we-do {
  @include section-wrap(1440px);

  &__head-wrap,
  .head-wrap {
    @include flex(row, nowrap, space-between, center);
    width: 100%;
    padding: 120px 0 88px 0;

    &__desc,
    .desc {
      width: 70%;
      &__head {
        @include font(12px, 700, 14px, $text-subscribe-btn, start);
        text-transform: uppercase;
      }
      &__text {
        @include font(20px, 700, 24px, $text-main, start);
      }
    }
    &__accent-btn {
      @include button(29px, 29px, $bg-green);
    }
  }
  &__content-wrap,
  .content-wrap {
    @include flex(row, nowrap, space-between, center);
    width: 100%;
    margin-bottom: 120px;

    &__article-wrap,
    .article-wrap {
      @include flex(column, wrap, space-between, flex-start);
      position: relative;
      padding: 166px 24px 24px 24px;
      border: $border-light;
      border-radius: 8px;
      max-width: 232px;

      &__bg-image-1 {
        @include bg-img-special(
          "../img/w-w-d_image1_@1x.png",
          280px,
          168px,
          -190px,
          22px
        );
        position: absolute;
      }
      &__bg-image-2 {
        @include bg-img-special(
          "../img/w-w-d_image2_@1x.png",
          280px,
          168px,
          -190px,
          22px
        );
        position: absolute;
      }
      &__bg-image-3 {
        @include bg-img-special(
          "../img/w-w-d_image3_@1x.png",
          280px,
          168px,
          -190px,
          22px
        );
        position: absolute;
      }
      &__head {
        @include font(18px, 700, 22px, $text-main, flex-start);
        height: 44px;
      }
      &__desc {
        @include font(16px, 400, 22px, $text-main, flex-start);
        padding-top: 8px;
        padding-bottom: 16px;
      }

      &__accent-btn {
        @include button(20px, 20px, $bg-green);
        align-self: center;
      }
    }
  }
  .accent-btn:hover {
    @include button-hover-active($btn-hover);
  }
  .accent-btn:active {
    @include button-hover-active($btn-active);
    transform: scale(0.8);
  }
}

// Tablet: 1199px
@media (max-width: $table-width) {
  .block-what-we-do {
    @include section-wrap(1199px);
    &__head-wrap,
    .head-wrap {
      width: auto;
      padding: 100px 0 50px 0;
      margin: 0 15px;
    }
    &__content-wrap,
    .content-wrap {
      width: 100%;
      margin-bottom: 50px;
      justify-content: space-around;

      &__article-wrap,
      .article-wrap {
        width: 25%;
        position: relative;
        padding: 126px 15px 15px 15px;
        margin: 40px 0 30px 0;

        &__bg-image-1,
        &__bg-image-2,
        &__bg-image-3 {
          width: 213px;
          height: 115px;
          margin-top: -142px;
          background-position: center;
          background-size: contain;
        }

        &__desc {
          padding-top: 20px;
          padding-bottom: 30px;
        }
      }
    }
  }
}
