.footer {
  @include section-wrap(100%);
  background-color: $bg-black;
  margin-top: 104px;
  padding: 40px 0 52px 0;

  &__bottom-wrap,
  .bottom-wrap {
    @include flex(row, wrap, space-between, flex-start);
    width: 100%;
    // display: flex;
    // flex-direction: row;

    &__left-side,
    .left-side {
      @include font(12px, 500, 18px, $text-light, left);
      flex-direction: column;
      &__desc--br-mobile {
        // display: none;
      }
      &__desc {
        padding-top: 10px;
      }
      &__social-wrap,
      .social-wrap {
        @include flex(row, wrap, space-between, flex-start);
        margin-top: 5px;

        .social-img {
          // fill: #fff;
          // color: #fff;
        }
        max-width: 50px;
      }
    }

    &__right-side,
    .right-side {
      @include flex(column, wrap, flex-start, flex-end);

      &__wrap,
      .wrap {
        min-width: 175px;
        text-align: end;
        @include font(12px, 500, 18px, $text-light, right);

        &__info {
          @include font(12px, 500, 18px, $text-light, right);
        }
      }
    }
    &__right-side .wrap:last-child {
      padding-top: 10px;
    }
  }
}

// Tablet: max 1024px
@media only screen and (max-width: $table-width) {
  .footer {
    @include section-wrap(1440px);
    // padding: 100px 0 50px 0;
    margin-top: 70px;
    width: 100%;

    &__bottom-wrap,
    .bottom-wrap {
      // width: auto;
      max-width: 730px;
    }
  }
}

// Mobile: max 768px
@media only screen and (max-width: $mobile-width) {
  .footer {
    // margin-top: 70px;

    .left-side__desc {
      max-width: 210px;
    }
  }
}

// Mobile: max 500px
@media only screen and (max-width: $mobile-middle-width) {
  .footer {
    // @include section-wrap(100%);
    // background-color: $bg-black;
    // // margin-top: 104px;
    // padding: 40px 0 52px 0;

    &__bottom-wrap,
    .bottom-wrap {
      // @include flex(row, wrap, space-between, flex-start);
      // width: 100%;
      // display: flex;
      // flex-direction: row;

      &__left-side,
      .left-side {
        // @include font(12px, 500, 18px, $text-light, left);
        // flex-direction: column;
        // &__desc--br-mobile {
        //   // display: block;
        // }
        // &__desc {
        //   padding-top: 10px;
        // }
        &__social-wrap,
        .social-wrap {
          @include flex(row, wrap, space-between, flex-start);
          .social-img {
            // fill: #fff;
            // color: #fff;
          }
          // max-width: 50px;
        }
      }

      &__right-side,
      .right-side {
        // @include flex(column, wrap, flex-start, flex-end);

        &__wrap,
        .wrap {
          min-width: 50%;
          // text-align: end;
          // @include font(12px, 500, 18px, $text-light, right);

          // &__info {
          //   @include font(12px, 500, 18px, $text-light, right);
          // }
        }
      }
      // &__right-side .wrap:last-child {
      //   padding-top: 10px;
      // }
    }
  }
}
