.header {
  @include section-wrap(100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include bg-img("../img/hero@1x.jpg");
  background-size: cover;
  background-position: center center;
  height: 700px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/hero@2x.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 700px;
  }

  &__navigation,
  .header__navigation,
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 28px;
    align-items: baseline;

    .side {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      list-style-type: none;

      &__item {
        &:hover {
          transition: all 0.2s ease-in-out;
          transform: scale(1.2);
        }
      }
      &__link,
      .link {
        @include font(16px, 500, 19px, $text-light, center);

        &:hover {
          border-top: 1px solid $shadow-link;
          color: $shadow-link;
        }
        &:active {
          color: $text-link;
          transition: all 0.2s ease-out;
        }
      }
    }
    .navigation__side--desktop-width {
      width: 65%;
    }

    &__logo {
      margin: 0 89px 0 98px;
      align-self: center;
    }
    &__accent-btn,
    .accent-btn {
      @include button(15px, 15px, $bg-green);
      margin-left: 38px;
      display: flex;
      height: 32px;

      &__icon-white-heart {
        margin-left: 9px;
      }
    }
  }
  .mobile-container {
    display: none;
  }

  // .page-header__block-hero,
  &__block-hero,
  .block-hero {
    // margin-top: 198px;

    &__head {
      margin-top: 198px;
      @include font(36px, 700, 40px, $text-light, center);
    }
    &__btn-wrapper {
      margin-top: 24px;
      .accent-btn {
        @include button(29px, 29px, $bg-green);
      }
      .accent-btn__light {
        @include button(24px, 24px, $bg-btn-light);
        margin-left: 43px;
      }
    }
  }
  .accent-btn:hover {
    @include button-hover-active($btn-hover);
  }
  .accent-btn:active {
    @include button-hover-active($btn-active);
    transform: scale(0.8);
  }
}

// Tablet: max 1440px
@media only screen and (max-width: $table-big-width) {
  .header {
    // @include section-wrap(100%);
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;

    // @include bg-img("../img/hero@1x.jpg");
    // background-size: cover;
    height: 566px;

    @media (min-resolution: $retina-dppx) {
      // background-image: url("../img/hero@2x.jpg");
      // background-size: cover;
      // width: 100%;
      height: 566px;
      // background-position: center;
    }

    .header__navigation,
    .navigation {
      .side {
        margin: 0 10px 0 10px;
      }
      &__logo {
        margin: 0 15px 0 15px;
      }
      &__accent-btn,
      .accent-btn {
        margin: 0 10px 0 15px;
      }
    }
  }
}

// Tablet: max 1024px
@media only screen and (max-width: $table-width) {
  .header {
    // @include section-wrap(100%);
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;

    // @include bg-img("../img/hero@1x.jpg");
    // background-size: cover;
    max-height: 460px;

    @media (min-resolution: $retina-dppx) {
      // background-image: url("../img/hero@2x.jpg");
      // background-size: cover;
      // width: 100%;
      max-height: 460px;
      // background-position: center;
    }

    .header__navigation,
    .navigation {
      margin: 0 10px 0 10px;
      // .side {
      //   margin: 0 10px 0 10px;
      // }
      // &__logo {
      //   margin: 0 15px 0 15px;
      // }
      // &__accent-btn,
      // .accent-btn {
      //   margin: 0 10px 0 15px;
      // }
    }

    &__block-hero,
    .block-hero {
      &__head {
        margin-top: 100px;
      }
    }
  }
}

// Mobile: max 768px
@media only screen and (max-width: $mobile-width) {
  .header {
    // @include section-wrap(100%);

    // @include bg-img("../img/hero@1x.jpg");
    // background-size: cover;
    max-height: 380px;
    display: flex;
    justify-content: space-between;

    @media (min-resolution: $retina-dppx) {
      // background-image: url("../img/hero@2x.jpg");
      // background-size: cover;
      // width: 100%;
      max-height: 380px;
    }
    .header__navigation,
    .navigation {
      display: none;
    }

    // .page-header__block-hero,
    &__block-hero,
    .block-hero {
      // margin-top: 198px;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      padding: 0 3%;

      &__head {
        margin-top: 80px;
        // @include font(30px, 700, 35px, $text-light, center);
      }
      &__btn-wrapper {
        display: flex;
        flex-direction: column;
        // margin-top: 24px;
        margin-bottom: 10%;

        width: 95%;
        // .accent-btn {
        //   // @include button(29px, 29px, $bg-green);
        //   // width: 100%;
        // }
        .accent-btn__light {
          // @include button(24px, 24px, $bg-btn-light);
          margin: 10px 0 0;
          // width: 90%;
        }
      }
    }
    .mobile-container__disable-bg {
      background-color: rgba(255, 255, 255, 0);
      height: 100vh;
    }
    .mobile-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      position: absolute;

      .nav__logo {
        padding: 4% 0 0 3%;
      }
      .nav__logo-mobile {
        position: absolute;
        z-index: 5;
        padding-top: 4%;
        left: 23%;
      }

      .burger-menu {
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        z-index: 4;
        margin-top: 3%;
        right: 3%;
      }

      .burger-toggle {
        background-image: url("../img/menu-white-02.svg");
      }
      .burger-toggle:hover {
        filter: invert(65%) sepia(11%) saturate(1100%) hue-rotate(120deg)
          brightness(97%) contrast(104%);
      }
      .close-toggle {
        background-image: url("../img/close.svg");
        opacity: 50%;
        // margin-top: 1%;
      }
      .close-toggle:hover {
        filter: invert(100%) sepia(11%) saturate(600%) hue-rotate(320deg)
          brightness(97%) contrast(104%);
      }

      .mobile-menu {
        position: absolute;
        z-index: 4;
        display: none;
        background: rgb(124, 177, 141);
        height: 100vh;
        width: 80vw;
        right: 0;

        .navigation {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 20% 0 15%;
          padding-left: 0;
          width: 100%;
          list-style-type: none;

          .mobile__item {
            text-align: center;
            border-top: 1px solid rgba(255, 255, 255, 0);
            transition: all 0.4s ease-in-out;
            width: 100%;
          }
          .mobile__item:hover {
            background-color: $shadow-link;
            border-top: 1px solid rgba(255, 255, 255, 0.596);
            width: 100%;
            transition: all 0.4s ease-in-out;
          }
          .mobile__item:active {
            background-color: rgb(37, 231, 166);
            border-top: 1px solid rgba(11, 250, 250, 0.89);
            width: 100%;
            transition: all 0.4s ease-in-out;
          }
          .mobile__link {
            @include font(20px, 500, 300%, $text-light, center);
          }
          .mobile__link:hover {
            padding-bottom: 3px;
            width: 100%;
          }
        }
      }
      .disable {
        display: none;
      }
      .active {
        display: block;
      }
    }
  }
  .scroll-stop {
    overflow: hidden;
  }
}
// Mobile: max 500px
@media only screen and (max-width: $mobile-middle-width) {
  .header {
    // @include section-wrap(100%);

    // @include bg-img("../img/hero@1x.jpg");
    // background-size: cover;
    // height: 350px;

    // @media (min-resolution: $retina-dppx) {
    //   // background-image: url("../img/hero@2x.jpg");
    //   // background-size: cover;
    //   // width: 1440px;
    //   // height: 300px;
    // }
    // .header__navigation,
    // .navigation {
    //   display: none;
    // }

    // .page-header__block-hero,
    &__block-hero,
    .block-hero {
      // margin-top: 198px;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      // padding: 0 5px;

      // .wrapper {
      //   margin-left: 0;
      //   margin-right: 0;
      // &__head {
      //   margin-top: 50px;
      //   @include font(30px, 700, 35px, $text-light, center);
      // }
      &__btn-wrapper {
        //   display: flex;
        //   flex-direction: column;
        // width: 80%;
        // .accent-btn {
        //   //     // @include button(29px, 29px, $bg-green);
        //   width: 80%;
        // }
        //   .accent-btn__light {
        //     // @include button(24px, 24px, $bg-btn-light);
        //     // margin: 10px 0 0;
        //     // width: 100%;
        //   }
        // }
      }
      // }
    }
  }
}
