.page-header {
  @include section-wrap(1440px);

  @include bg-img("../img/hero@1x.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/hero@2x.jpg");
    background-size: 1440px auto;
    // width: 1440px;
    height: 680px;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 28px;
    align-items: baseline;

    .side {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      list-style-type: none;

      &__item {
        &:hover {
          transition: all 0.2s ease-in-out;
          transform: scale(1.2);
        }
      }
      &__link,
      .link {
        @include font(16px, 500, 19px, $text-light, center);

        &:hover {
          border-top: 1px solid $shadow-link;
          color: $shadow-link;
        }
        &:active {
          color: $text-link;
          transition: all 0.2s ease-out;
        }
      }
    }
    .navigation__side--desktop-width {
      width: 65%;
    }

    &__logo {
      margin: 0 89px 0 98px;
      align-self: center;
    }
    &__accent-btn,
    .accent-btn {
      @include button(15px, 15px, $bg-green);
      margin-left: 38px;
      display: flex;
      height: 32px;

      &__icon-white-heart {
        margin-left: 9px;
      }
    }
  }

  // .page-header__block-hero,
  &__block-hero,
  .block-hero {
    // margin-top: 198px;

    &__head {
      margin-top: 198px;
      @include font(36px, 700, 40px, $text-light, center);
    }
    &__btn-wrapper {
      margin-top: 24px;
      .accent-btn {
        @include button(29px, 29px, $bg-green);
      }
      .accent-btn__light {
        @include button(24px, 24px, $bg-btn-light);
        margin-left: 43px;
      }
    }
  }
  .accent-btn:hover {
    @include button-hover-active($btn-hover);
  }
  .accent-btn:active {
    @include button-hover-active($btn-active);
    transform: scale(0.8);
  }
}

// Tablet: 1199px
@media (max-width: $table-width) {
  .page-header {
    @include section-wrap(1199px);

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/hero@2x.jpg");
      background-size: 1199px auto;
      // width: 1440px;
      height: 566px;
      background-position: center;
    }
    // Tablet: 1199px
    // @include wrapper(column, nowrap, space-between, center, 760px, auto);

    .navigation {
      margin: 0 10px 0 10px;
      .side {
        margin: 0 10px 0 10px;
      }
      &__logo {
        margin: 0 15px 0 15px;
      }
      &__accent-btn,
      .accent-btn {
        margin: 0 10px 0 15px;
      }
    }
  }
}

// Mobile: 767px
@media (max-width: $mobile-width) {
  .page-header {
    @include section-wrap(767px);

    // @include bg-img("../img/hero@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/hero@2x.jpg");
      background-size: 767px auto;
      // width: 1440px;
      height: 360px;
    }
    .navigation {
      display: none;
    }

    // .page-header__block-hero,
    &__block-hero,
    .block-hero {
      // margin-top: 198px;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;

      &__head {
        margin-top: 50px;
        @include font(30px, 700, 35px, $text-light, center);
      }
      &__btn-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 24px;

        .accent-btn {
          // @include button(29px, 29px, $bg-green);
        }
        .accent-btn__light {
          // @include button(24px, 24px, $bg-btn-light);
          margin: 10px 0 0;
        }
      }
    }
  }
}
