$text-main: #272727;
$text-light: #FFFFFF;
$text-subscribe-btn: #0E6248;
$text-link: #81d3b9;
$btn-hover: #20916d;
$btn-active: #016861;


$bg-base: #F2F2F2;
$bg-stats: #FBF8F6;
$bg-black: #272727;
$bg-green: #0E6248;
$bg-white: #fff;
$bg-btn-light: rgba(255, 255, 255, 0.85);

$border-light: 1px solid #DDDDDD;

$shadow-input: -8px 0px 20px -9px rgba(16, 114, 83, 0.16);
$shadow-link: rgba(115, 228, 192, 0.699);
