html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;

  box-sizing: border-box;
  overflow-x: hidden;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: $text-main;
}

img {
  max-width: 100%;
  height: auto;
}
h1, h2, h3, h4, p {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  @include wrapper(column, nowrap, space-between, center, 940px, 100%);
}

// .accent-btn {
//   @include button (29px, 29px);
// }
