html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;

  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}
svg:not(:root) {
  overflow: visible;
}
svg {
  fill: #fff;
}

a {
  text-decoration: none;
  color: $text-main;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
p {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
input {
  padding: 0;
  margin: 0;
}
// .scroll-stop {
//   overflow: hidden;
// }
// .active {
//   display: block;
// }
// .disable {
//   display: none;
// }

.wrapper {
  @include wrapper(column, nowrap, space-between, center, 940px);
}

// Tablet: max 1440px
// @media only screen and (max-width: $table-big-width) {
//   .wrapper {
//     @include wrapper(column, nowrap, space-between, center, 940px);
//   }
// }

// Tablet: max 1024px
@media only screen and (max-width: $table-width) {
  .wrapper {
    @include wrapper(column, nowrap, space-between, center, 760px);
  }
}

// Mobile: max 768px
@media only screen and (max-width: $mobile-width) {
  .wrapper {
    @include wrapper(column, nowrap, space-between, center, 550px);
    .special-padding {
      padding: 0 2%;
    }
    // .special-margin {
    //   margin: 0 1%;
    // }
  }
}

// Mobile: max 500px
@media only screen and (max-width: $mobile-middle-width) {
  .wrapper {
    @include wrapper(column, nowrap, space-between, center, 100%);
    min-width: 200px;
  }
}
