html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;

  box-sizing: border-box;
  overflow-x: hidden;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: $text-main;
}

img {
  max-width: 100%;
  height: auto;
}

// .page__accent-btn {
//   @include button ()
//   // width: 176px;
//   // height: 40px;
//   background: #0E6248;
//   border-radius: 4px;
//   padding: 10px 15px;
//   border-style: none;
// }