@mixin font($size, $weight, $line-height, $text-color, $text-align) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $text-color;
  text-align: $text-align;
}

@mixin flex($direction, $wrap, $justyfy, $align) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin wrapper($direction, $wrap, $justify, $align, $max-width, $width) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
  max-width: $max-width;
  width: $width;
}

@mixin btn-light() {
  background-color: $bg-btn-light;
}


@mixin container($max-width, $padding) {
  margin: 0 auto;
  max-width: $max-width;
  padding-left: $padding;
  padding-right: $padding;
}

@mixin pm-zero($margin: 0, $padding: 0) {
  margin: $margin;
  padding: $padding;
}

@mixin button($pr, $pl) {
  box-sizing: border-box;
  // width: $width;
  padding-top: 10px;
  padding-right: $pr;
  padding-bottom: 11px;
  padding-left: $pl;
  border-style: none;
  border-radius: 4px;
  height: 40px;
  align-items: center;

  @include font(16px, 700, 19px, $text-light, center);
  // text-align: center;

  background: $bg-green;
}

@mixin bg-img($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: 0 0;
}
