@mixin font($size, $weight, $line-height, $text-color, $text-align) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $text-color;
  text-align: $text-align;
}

@mixin flex($direction, $wrap, $justify, $align) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin wrapper($direction, $wrap, $justify, $align, $max-width) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
  max-width: $max-width;
  width: 100%;
}

@mixin section-wrap($max-width) {
  max-width: $max-width;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin container($max-width, $padding) {
  margin: 0 auto;
  max-width: $max-width;
  padding-left: $padding;
  padding-right: $padding;
}

@mixin button($pr, $pl, $bg-btn) {
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: $pr;
  padding-bottom: 11px;
  padding-left: $pl;
  border-style: none;
  border-radius: 4px;
  height: 40px;
  align-items: center;
  cursor: pointer;

  @include font(16px, 700, 19px, $text-light, center);

  background: $bg-btn;
}

@mixin button-hover-active($background) {
  background: $background;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

@mixin bg-img($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: 0 0;
}
@mixin bg-img-special($url, $width, $height, $margin-top, $padding-bottom) {
  background-image: url($url);
  background-repeat: no-repeat;
  width: $width;
  height: $height;
  margin-top: $margin-top;
  padding-bottom: $padding-bottom;
}
