// $only-desktop: 1325px;
// $only-desktop-slider: 1310px;
$table-big-width: 1440px;
$table-width: 1024px;
// $table-min-width: 1023px;
$mobile-width: 768px;
$mobile-middle-width: 500px;
$mobile-min-width: 322px;
$retina-dppx: 1.5dppx;
