$only-desktop: 1325px;
$only-desktop-slider: 1310px;
$table-min-width: 1023px;
$table-width: 1024px;
$table-big-width: 1440px;
$mobile-width: 767px;
$mobile-middle-width: 380px;
$mobile-min-width: 320px;
$retina-dppx: 1.5dppx;
